<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="[ '/' ]">
        <img src="../../assets/img/hariprabodham_no_bg.png" alt="Logo" width="30" height="24"
            class="d-inline-block align-text-top">
        HariPrabodham Yuva Mahotsav
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink="registerations" routerLinkActive="active">Registerations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" routerLink="transport" routerLinkActive="active">Transport</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>