.errorMsg {
    color: red !important;
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
}
.containerBx {
    padding: 10px 20px;
    height: calc(100vh - 50px);
    .row {
        display: flex;
        align-items: center;
        height: 100%;
        .banner {
            width: 500px;
        }
    }
    .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        img {
            width: 50px;
            margin-right: 15px;
        }
        h2 {
            color: darkblue;
            font-family: ui-sans-serif;
        }
    }
    .form-group {
        margin-bottom: 1.5rem !important;
        label {
            font-size: 18px;
            font-weight: 500;
            color: orange;
        }
        input,select {
            border: 1px solid darkblue;
        }
        span {
            margin-right: 15px;
            color: darkblue;
            font-size: 18px;
        }
        .checkBx[type="checkbox"] {
            width: 18px;
            height: 18px;
        }
    }
    .reset {
        margin-left: 15px;
    }
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background: transparent url(../../assets/img/btn-close.svg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
}

.col-lg-12 > .modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: lightcyan;
    color: darkblue;
    p {
        margin: 0;
    }
    button {
        font-size: 35px;
        color: black;    
    }
}

@media (max-width: 480px) {
    .containerBx {
        .row {
            .banner {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}
@media (max-width: 991px) {
    .containerBx {
        .row {
            .banner {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}

.player_block {
    background: #d8514e;
    text-align: center;
    color: white;
    padding: 5px;
}

.player_id {
    background-color: #3b3b3b;
    text-align: center;
    color: white;
    padding: 5px;
}

.player_name {
    background-color: #2ea8d9;
    text-align: center;
    color: white;
    padding: 5px;
}

#entry_pass {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}